# Dependencies
node_modules/
/.pnp
.pnp.js

# Production
/build
/.next
/out

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.production 
.env.test.local
.env.production.local
.env.staging
!.env.example

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# env files
.env
.env.local
.env*.local

# Prisma
prisma/migrations/dev/

# Scripts
scripts/assign-genders.js

# Dumps de la base de datos de Wordpress
dumps/

# PostgreSQL

pgsql/

# Directorio uploads de Wordpress

/uploads